@import './base.scss';

html, body, div, p, ul, li, ol, dl, dt, dd, header, footer, video, h1, h2, h3, h4, canvas, section, figure {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

html, body {
  height: 100%;
  -webkit-tap-highlight-color: transparent;
}

body {
  font-family: "Helvetica Neue", 'Helvetica', "Microsoft YaHei", '微软雅黑', arial, sans-serif;
  overflow-x: hidden;
  font-size: 14px;
}

img {
  border: none;
  vertical-align: middle;
  width: 100%;
  height: auto;
}

.clearfix {
  clear: both;
}

input, textarea {
  outline: none;
}

$viewW: 10rem;

.zmiti-loading {
  background: #8e101c;
  color: #f2eb80;
  z-index: 1100;

  .zmiti-loading-bar {
    width: 7rem;
    @include pos(a);
    top: 48%;
    left: 1.5rem;
    height: 4px;
    @include br(2px);
    border: 1px solid #f2eb80;
    padding: 1px;

    span {
      @include pos(a);
      width: 0;
      height: 4px;
      background: #f2eb80;
      @include br(1px);
    }

    label {
      @include pos(r);
      top: -20px;
      left: 0;

      .dang {
        width: 1rem;
        display: block;
        @include pos(r);
        top: -.4rem;
      }

    }

  }

}

$color: #b72d2b;

.zmiti-main-ui {
  height: 100%;
  @include pos(f);
  left: 0;
  top: 0;
  width: 100%;
  z-index: 201;

  .zmiti-index-page {
    background: $color;
    z-index: 10000;

    &.active {
      .zmiti-dang {
        @include transform(scale(1));
      }

      .zmiti-index-title {
        opacity: 1;
        @include transform(translate3d(0, 0, 0));
      }

      .zmiti-index-bottom {
        opacity: 1;
        @include transform(translate3d(0, 0, 0));
      }

      .zmiti-index-text {
        opacity: 1;
      }

      .zmiti-index-copyright {
        opacity: 1;
      }

      .zmiti-index-btn {
        opacity: 1;
        @include transform3d();

        &:after {
          content: '';
          @include pos(a);
          width: 100%;
          opacity: 1;
          z-index: -1;
          @include transition(opacity .2s 2s);
          height: 100%;
          background: rgba(0, 0, 0, .56);
          left: 0;
          bottom: -3px;
          @include br(.3rem);
          @include transform(translate3d(0, 0, -2px));
        }

      }

    }

    .zmiti-index-top {
      @include pos(a);
      left: 0;
      top: 0;
    }

    .zmiti-dang {
      width: 3rem;
      @include pos(a);
      left: 3.5rem;
      top: 1rem;
      @include transform(scale(0));
      @include transition_transform(.5s);
    }

    .zmiti-index-title {
      @include pos(a);
      width: 8rem;
      left: 1rem;
      top: 4rem;
      opacity: 0;
      @include transition(.55s .5s);
      @include transform(translate3d(0, 1rem, 0));
    }

    .zmiti-index-bottom {
      @include pos(a);
      left: 0;
      bottom: -1rem;
      opacity: 0;
      @include transition(.55s .5s);
      @include transform(translate3d(0, 1rem, 0));
    }

    .zmiti-index-text {
      @include pos(a);
      width: 8rem;
      left: 1rem;
      bottom: 2.5rem;
      color: $color;
      text-indent: 2em;
      font-size: 13px;
      line-height: .6rem;
      opacity: 0;
      @include transition(opacity 1s 1s);
    }

    .zmiti-index-copyright {
      @include pos(a);
      z-index: 10;
      bottom: .5rem;
      width: 5rem;
      left: 2.5rem;
      opacity: 0;
      @include transition(opacity 1s 1s);
    }

    .zmiti-index-btn {
      @include transform3d();
      width: 3rem;
      height: 1rem;
      line-height: 1rem;
      text-align: center;
      color: #fff;
      font-size: .5rem;
      background: $color;
      @include pos(a);
      left: 3.5rem;
      bottom: 1.5rem;
      z-index: 10;
      @include br(.3rem);
      opacity: 0;
      @include transition(opacity 1s 1s);
      @include animation(scale 1s linear infinite alternate);

      &:after {
        content: '';
        @include pos(a);
        width: 100%;
        opacity: 0;
        z-index: -1;
        height: 100%;
        background: rgba(0, 0, 0, .56);
        left: 0;
        bottom: -3px;
        @include br(.3rem);
        @include transform(translate3d(0, 0, -2px));
      }

    }

  }

  @-webkit-keyframes scale {
    0% {
      -webkit-transform: scale(.97);
      transform: scale(.97)
    }

    to {
      -webkit-transform: scale(1.03);
      transform: scale(1.03)
    }

  }

  .zmiti-content-page {
    @include displayBox(vertical);

    .zmiti-aside1 {
      -webkit-box-flex: 1;
      @include pos(r);
      width: $viewW;
      overflow: hidden;
      background: #000;

      .zmiti-bg {
        @include transition(background .2s);
      }

      .zmiti-title-C {
        @include pos(a);
        width: $viewW;
        height: 2rem;
        bottom: .5rem;
        color: #b40012;
        font-size: .5rem;
        font-weight: bold;
        text-align: center;

        &>div {
          @include pos(a);
          bottom: 0;
          left: 50%;
          z-index: 100;
          @include transform(translate3d(-50%, 0, 0));
          opacity: 0;
          @include transition(.5s);
          width: 80%;

          &.active {
            opacity: 1;
          }

        }

      }

      @include transform3d(500px);

      ul {
        width: $viewW;
        @include pos(a);
        height: 100%;
        z-index: 1;

        &:before {
          content: '';
          @include pos(a);
          width: $viewW*1.5;
          height: 50%;
          left: 50%;
          margin-left: -$viewW*.75;
          bottom: -3rem;
          background: #fefddf;
          @include br();
          z-index: 0;
          //
        }

        li {
          div {
            @include pos(a);
            left: 0;
            top: 0;
          }

          &.zmiti-page-item {
            @include transition_transform(.4s);
          }

          .zmiti-btn-list {
            width: 90%;
            $size: .8rem;
            height: $size;
            @include pos(a);
            left: 5%;
            bottom: .2rem;
            top: auto;
            @include displayBox(horizontal);

            .zmiti-btn-title {
              width: 100%;
              text-align: center;
              @include pos(a);
              top: -75%;
              color: $color;
            }

            &>div {
              -webkit-box-flex: 1;
              background: $color;
              @include br(4px);
              @include pos(r);
              line-height: $size;
              height: $size;

              &:nth-of-type(2) {
                margin: 0 10px;
              }

              &:nth-of-type(3) {
                margin-right: 10px;
              }

              &>div {
                text-align: center;
                width: 100%;
                color: #f2eb80;
              }

            }

          }

          .zmiti-img-C {
            @include pos(a);
            width: 6rem;
            left: 50%;
            top: 10%;
            margin-left: -3rem;
            @include transform3d();

            &:after {
              content: '';
              width: 100%;
              height: .6rem;
              @include br();
              @include pos(a);
              left: 0;
              bottom: -1.5rem;
              background: rgba(0, 0, 0, .3);
              -webkit-filter: blur(10px);
            }

            &:before {
              content: '';
              @include pos(a);
              width: 100%;
              height: 100%;
              left: 0;
              top: 0;
              box-shadow: 0 0 0 8px #f2eb80;
            }

          }

          &.left {
            opacity: 1;
            //@include transform(scale(.7) translate3d(-$viewW/1.5, 0, 0));
            @include transform(translate3d(-5.66667rem, 0, 0) rotateY(90deg));
          }

          &.transition {
            @include transition_transform(.4s);
          }

          &.left1 {
            opacity: 0;
            //@include transition_transform(.4s);
            //@include transform(scale(.7) translate3d(-5.66667rem, 0, 0));
            @include transform(translate3d(-$viewW, 0, 0) rotateY(90deg));
          }

          &.right {
            opacity: 1;
            @include transform(translate3d(5.66667rem, 0, 0) rotateY(-90deg));
          }

          &.right1 {
            opacity: 0;
            // @include transition_transform(.4s .22s);
            @include transform(translate3d($viewW, 0, 0) rotateY(-90deg));
          }

          &.active {
            @include transform(rotateY(0));
            z-index: 100;
          }

        }

      }

      .zmiti-curtain {
        @include pos(a);
        width: 50%;
        height: 120%;
        background-size: cover;
        z-index: 1000;
        left: 0;
        background: $color;
        @include transition(.5s);
      }

      .zmiti-curtain1 {
        @include transform(translate3d(-$viewW/1.5, 0, 0));

        &.active {
          left: 0;
          @include transform(translate3d(0, 0, 0));
        }

      }

      .zmiti-curtain2 {
        right: 0;
        left: auto;
        @include transform(translate3d($viewW/1.5, 0, 0));

        &.active {
          right: 0;
          @include transform(translate3d(0, 0, 0));
        }

      }

    }

    .zmiti-aside2 {
      $height: 1.5rem;
      height: $height;
      line-height: $height;
      width: $viewW;
      @include displayBox(horizontal);

      &>div {
        color: #f2eb80;
        @include pos(r);

        &:after {
          content: '';
          @include pos(a);
          left: 0;
          top: 0;
          background: #363434;
          width: 100%;
          height: 100%;
          opacity: .5;
        }

        &:nth-of-type(1) {
          img {
            height: 30px;
            width: auto;
          }

        }

        &.active {
          &:after {
            display: none;
          }

        }

        img {
          margin-right: 10px;
        }

        &:nth-of-type(2) {
          img {
            width: 1rem;
          }

        }

        background: #8e101c;
        width: 5rem;
        text-align: center;
      }

    }

  }

  .zmiti-result-page {
    -webkit-overflow-scrolling: touch;
    overflow-y: scroll;

    iframe {
      width: 100%;
      height: 100%;
      background: #fff;
    }

    .zmiti-back {
      @include pos(f);
      width: 1.5rem;
      height: 1.5rem;
      right: .4rem;
      bottom: 1rem;
      text-align: center;
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
    }

  }

}

.zmiti-mask {
  @include pos(a);
  width: 100%;
  display: none;
  height: 100%;
  background: rgba(0, 0, 0, .9);
  left: 0;
  top: 0;
  z-index: 5800;
}

@media all and (min-height:603px) and (min-width:375px) {
  .zmiti-main-ui {
    .zmiti-index-page {
      .zmiti-index-text {
        bottom: 2.9rem;
      }

    }

  }

}
